@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Space+Grotesk:wght@500&display=swap');
:root{
    --tipography: 'Barlow Condensed', sans-serif;
}
html {
    /* Reset para rems 62.5% = 10px */
    box-sizing: border-box;
    font-size: 62.5%;
}
  *,
  *::before,
  *::after {
    box-sizing: inherit;
}
body{
    font-family: var(--tipographyPrimary);
    font-size: 1.5rem;
    line-height: 2;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}